h1 {
  color: rgb(65, 132, 225);
  font-size: 50px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.game-container {
  border: solid black 1px;
  padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 100px;
}

.cell-button {
  box-sizing: border-box;
  border: solid black 1px;
  background: rgb(206, 239, 255);
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.cell-button:hover {
  background: rgb(188, 218, 233);
}

.player-board {
  outline: black;
  width: 500px;
  height: 500px;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}

.cpu-board {
  outline: black;
  width: 500px;
  height: 500px;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);

}

button {
  border: 0;
  padding: 0;

}

.ship {
  background-color: rgba(0, 0, 0, 0.571);
}
